@font-face {font-family: "iconfont";
  src: url(./iconfont.eot); /* IE9 */
  src: url(./iconfont.eot) format('embedded-opentype'), /* IE6-IE8 */
  url(./iconfont.woff2) format('woff2'),
  url(./iconfont.woff) format('woff'),
  url(./iconfont.ttf) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url(./iconfont.svg) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star_full:before {
  content: "\e627";
}

.icon-fanhui:before {
  content: "\e682";
}

.icon-xiayibu:before {
  content: "\e6ba";
}

.icon-zan1:before {
  content: "\e64e";
}

.icon-dianyingyuan:before {
  content: "\e602";
}

.icon-dianying:before {
  content: "\e679";
}

.icon-tubiaolunkuo-:before {
  content: "\e60e";
}

.icon-sousuo:before {
  content: "\e615";
}

